Q1. What is a database? Differentiate between SQL and NoSQL databases?

Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

SQL databases are relational, and NoSQL databases are non-relational.

SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.

SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stand For Data Defination Language.It is used to define Structure of database and table.DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

CREATE:This command is used to create a new database and database object such as a table, view, index, or stored procedure.

CREATE TABLE employee(
    
    id int primary key,
    
    name varchar(50),
    
    job_profile varchar(50)
);

ALTER:This Command is used to modify the exisiting  databse object such as a table,view,index and stored procedure.ALTER can be used to add, modify, or delete columns from a table, or change the data type of a column.

ALTER table student ADD COLUMN email VARCHAR(50);

DROP:This command is used to delete an existing database and database object such as a table, view, index, or stored procedure

DROP TABLE employee

TRUNCATE:This Command is used to remove the data without removing structure of table

TRUNCATE TABLE employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stand for Data Manipulation Language.It is used for inserting/storing,modifying and deleting the data store in the database

INSERT:This Command is used Insert data in the existing table.

INSERT INTO employee (id, name, job_profile, email) VALUES (1, 'Ram', 'data Scientist', 'Ram123@gmail.com');

UPDATE:This command is used to modify existing data in a table.

UPDATE employee SET email="ram142@gmail.com" whe

DELETE:This command is used to delete data from a table.

DELETE FROM students WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stand for Data Query Language. which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to search, filter, and sort data from tables in a database.

SELECT:he SELECT statement is used to retrieve data from one or more tables in a database. It is one of the most commonly used SQL statements.

SELECT * from product

This statement retrieves all the columns (indicated by the * symbol) from the product table in a database. The semicolon at the end of the statement signifies the end of the statement.

SELECT p_name,p_price,p_desc FROM product;

This statement retrieves only the  p_name,p_price,p_desc columns from the product table. You can also use WHERE clause to add conditions to filter data

Q5. Explain Primary Key and Foreign Key.

Primary key:The PRIMARY KEY constraint uniquely identifies each record in a table.
Primary keys must contain UNIQUE values, and cannot contain NULL values.
A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

Foreign Key:The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.
A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.
The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [1]:
pip install mysql-connector-python==8.0.31

Requirement already satisfied: mysql-connector-python==8.0.31 in /opt/conda/lib/python3.10/site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python==8.0.31) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import mysql.connector
try:
    connection = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="product")
    # Create a cursor object
    cursor = connection.cursor()
    # Execute SQL queries
    cursor.execute("Create table product_detail(id int PRIMARY KEY,p_name varchar(50),p_desc varchar(50))")
except Exception as e :
    print("SQL Interface Error")

SQL Interface Error

cursor(): The execute() method is used to execute a SQL query on the database. It takes in a string containing the SQL query as a parameter.

execute(): The cursor() method creates a new cursor object that can be used to execute SQL queries on the database. The cursor object is used to fetch the results of the query and perform other operations on the database.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.