Q1.Explain with an example each when to use a for loop and a while loop?

The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. That is why we have to specify the ending point in the for loop initialization.

In [1]:
# for loop example
l=[1,56,78,65,85]
for i in l:
    print(i,end=" ")

1 56 78 65 85

When we need to end the loop on a condition other than the number of times, we use a while loop. In this case, it is not necessary to know the condition beforehand. That is why we can give a boolean expression in the initialization of the loop.

In [2]:
k=[1,56,78,65,85]
l=0
while l<len(k):
    print(k[l],end=" ")
    l+=1

1 56 78 65 85

In the case of a for loop, the initialization is done once at the start, so there is no need to initialize it again. But in the case of a while loop, we require to initialize the loop manually by taking a variable that is further modified (incremented, decremented, multiplied, etc.) as per our requirement.

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for 
and while loop?

In [3]:
nat_number=range(1,10)
nat_sum=0
nat_product=1
for i in nat_number:
    nat_sum+=i
    nat_product*=i
print("The sum of the first 10 natural numbers is:",nat_sum)
print("The Product of the first 10 natural numbers is:",nat_product)

The sum of the first 10 natural numbers is: 45
The Product of the first 10 natural numbers is: 362880

Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows:
For the first 100 units, the user will be charged Rs. 4.5 per unit,
for the next 100 units, the user will be charged Rs. 6 per unit, and 
for the next 100 units, the user will be charged Rs. 10 per unit, 
After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [4]:
unit_consumed=int(input("Enter The units of electricity consumed in a month "))
t_bill=0
if unit_consumed<100:
    t_bill=unit_consumed*4.5
elif unit_consumed>100 and unit_consumed<=200:
    greater_than_hun_units = unit_consumed-100
    t_bill=(greater_than_hun_units*6)+(100*4.5)
elif unit_consumed>200 and unit_consumed<=300:
    greater_than_hun_units = unit_consumed-200
    t_bill=(greater_than_hun_units*10)+(100*4.5)+(100*6)
else:
    greater_than_hun_units = unit_consumed-300
    t_bill=(greater_than_hun_units*20)+(100*10)+(100*6)+(100*4.5)

print("total bill is :",t_bill)

Enter The units of electricity consumed in a month  310

total bill is : 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list?

In [5]:
l=[i**3 for i in range(1,101) ]

In [6]:
l1=[]
for i in l:
    if i%4==0 or i%5==0:
        l1.append(i)
print(l1,end=" ")

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
o=list(range(1,101))
l2=[]
m=0
k=0
while k<100:
    m=o[k]**3
    if m%4==0 or m%5==0:
        l2.append(m)
    k+=1
print(l2,end=" ")

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [4]:
string = "I want to become a data scientist"
vowels=['a','e','i','o','u']
count=0
for i in string:
    for j in vowels:
        if i==j:
            count+=1
print("count vowel:",count)

count vowel: 11