<!-- Write a program to accept percentage from the user and display the grade according  to the following criteria:
Marks           Grade
>90               A
>80 and <=90      B
>=60 and <=80     C
bebw 60           D -->

1. Write a program to accept percentage from the user and display the grade according to the following criteria:
Marks    Grade
>90        A
>80and<=90 B
>=60

In [5]:
p=int(input("Enter the Percentage"))
if p>90:
    print("Congrats! you have get `A` Grade")
elif p>80 and p<=90:
    print("Congrats! you have get `B` Grade")
elif p>60 and p<=80:
    print("Congrats! you have get `C` Grade")
else:
    print("Congrats! you have get `D` Grade")

Enter the Percentage 95

Congrats! you have get `A` Grade

2 Write a program to accept the cost price Of a bike and the tax to be paid to the
following criteria:
Tax      Cost Price(in Rs)
15%        >100000
10%        >5OOOO and <=100000
5%         < = 50000

In [6]:
price=int(input("Enter the Price of Bike"))
if price >100000:
    print("You paid 15% Tax")
elif price>50000 and price<=100000:
    print("You Paid 10% Tax")
else:
    print("you paid 5% Tax")

Enter the Price of Bike 899999

You paid 15% Tax

3. Accept any City from the user and Display Monuments Of that City.
City       Monument 
Delhi      Red Fort
Agra       Taj Mahal
Jaipur     Jai Mahal

In [7]:
c=input("Enter the City and City name must start with Capital letter")
if c=="Delhi":
    print("The Famous Place in Delhi is Red Fort ")
elif c=="Agra":
    print("The Famous place in Agra is Taj Mahal")
elif c=="Jaipur":
    print("The Famous place in Jaipur is Jai Mahal")
else:
    print("please Enter Proper city")

Enter the City and City name must start with Capital letter Agra

The Famous place in Agra is Taj Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
h=int(input("Enter a number"))
count=0
while h>10:
    h/=3
    count+=1
print(count)

Enter a number 78

2

5.why and When to use  while LOOP in Python give a detailed description With example

Python while loop is used to run a block code until a certain condition is met.The Syntax of While loop is :- 
while condition:
    # body of while loop
Here,

A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.
The Example of while loop is:

In [8]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

6.use nested While loop to print 3 different pattern.

1]Python Program to Print Right Triangle using While Loop

In [6]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=" ")
        j+=1
    print("")
    i+=1

*
* *
* * *
* * * *
* * * * *

2]Python Program to Print Inverted Right Triangle using While Loop

In [7]:
i=1
while i<=5:
    j=5
    while j>=i:
        print("*",end=" ")
        j-=1
    print(" ")
    i+=1

* * * * *
* * * *
* * *
* *
*

3]Python Program to Print Number Pattern using While Loop

In [8]:
i=1
k=1
while i<=5:
    j=1
    while j<=i:
        print(k,end=" ")
        j+=1
        k+=1
    print()
    i+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

7.Reverse a while loop to display numbers 1O to 1.

In [9]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

8.7.Reverse a while loop to display numbers 1O to 1.

In [12]:
i=1
j=10
while i<=10:
    print(j)
    i+=1
    j-=1

10
9
8
7
6
5
4
3
2
1